upstream swiftdeploy_backend {
    server app:{{SERVICE_PORT}};
}

log_format swiftdeploy '$time_iso8601 | $status | ${request_time}s | $upstream_addr | $request';

server {
    listen {{NGINX_PORT}};
    server_name _;

    access_log /var/log/nginx/access.log swiftdeploy;
    error_log  /var/log/nginx/error.log warn;

    proxy_connect_timeout {{PROXY_TIMEOUT}}s;
    proxy_send_timeout    {{PROXY_TIMEOUT}}s;
    proxy_read_timeout    {{PROXY_TIMEOUT}}s;

    proxy_set_header Host              $host;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    add_header X-Deployed-By swiftdeploy always;
    proxy_pass_header X-Mode;

    location / {
        proxy_pass http://swiftdeploy_backend;
    }

    error_page 502 = @error502;
    error_page 503 = @error503;
    error_page 504 = @error504;

    location @error502 {
        default_type application/json;
        add_header X-Deployed-By swiftdeploy always;
        return 502 '{"error":"Bad Gateway","code":502,"service":"swiftdeploy","contact":"{{CONTACT}}"}';
    }
    location @error503 {
        default_type application/json;
        add_header X-Deployed-By swiftdeploy always;
        return 503 '{"error":"Service Unavailable","code":503,"service":"swiftdeploy","contact":"{{CONTACT}}"}';
    }
    location @error504 {
        default_type application/json;
        add_header X-Deployed-By swiftdeploy always;
        return 504 '{"error":"Gateway Timeout","code":504,"service":"swiftdeploy","contact":"{{CONTACT}}"}';
    }
}
